<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccww.aiotlab.mapper.AnnouncementImageMapper">

    <resultMap id="BaseResultMap" type="com.ccww.aiotlab.entity.AnnouncementImage">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="imgPath" column="img_path" jdbcType="VARCHAR"/>
            <result property="announceId" column="announce_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,img_path,announce_id
    </sql>
    <select id="selectAllByAnnounceId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from announcement_image
        where
        announce_id = #{announceId,jdbcType=NUMERIC}
    </select>
</mapper>
