<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccww.aiotlab.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.ccww.aiotlab.entity.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="kind" column="kind" jdbcType="TINYINT"/>
            <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
            <result property="whoAgree" column="who_agree" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="realName" column="real_name" jdbcType="VARCHAR"/>
            <result property="salt" column="salt" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,email,password,
        create_time,update_time,kind,
        login_time,who_agree,user_name,
        real_name,salt
    </sql>
</mapper>
